* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: snow;
}

.wrapper {
  min-height: 700px;
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  flex-wrap: wrap
}

.side-bar {
  position: relative;
  width: 20%;
  background-color: lightsteelblue;
}

.job-editor {
  position: relative;
  width: 25%;
  min-width: 260px;
  background-color: powderblue;
}

.cover-letter {
  width: 55%;
  background-color: whitesmoke;
}

.raised-button {
  position: absolute;
  bottom: 0;
}
