* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lemonchiffon;
}

.wrapper {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap
}

.side-bar {
  /*display: inline-block;*/
  width: 25%;
  background-color: cyan;
}

.job-editor {
  /*display: inline-block;*/
  width: 75%;
  background-color: azure;
}